* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.flex_col {
  flex-direction: column;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_center {
  text-align: center;
}

.bg_home {
  background-image: url("./assets/bg-dunegeons-and-dragons.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg_paper {
  background-image: url("./assets/bg-perso.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  width: 250px;
  height: 60px;
  text-align: center;
  color: #fff;
  border-radius: 25px;
  font-size: 28px;
  border: none;
  transition: all 300ms ease-out;
  margin-top: 50px;
  font-family: "Korinna-Bold";
}

.form_input {
  width: 100%;
  height: 40px;
  border-radius: 15px;
  border: none;
  font-size: 18px;
  padding: 0 10px;
  margin: 10px 0;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.form_textarea {
  height: 150px;
  padding: 10px;
  font-family: "Korinna-Bold";
}

.form_textarea_col {
  height: 390px;
  padding: 10px;
  font-family: "Korinna-Bold";
}

.input_invisible {
  display: none;
}

.width {
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .button {
    width: 200px;
    height: 50px;
  }
}
