* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.flex_col {
  flex-direction: column;
}

.bg_home {
  background-image: url("./assets/bg-dunegeons-and-dragons.jpg");
}

.bg_paper {
  background-image: url("./assets/bg-perso.jpg");
}

.button {
  width: 250px;
  height: 60px;
  text-align: center;
  color: #fff;
  border-radius: 25px;
  font-size: 28px;
  border: none;
  transition: all 300ms ease-out;
  margin-top: 50px;
  font-family: "Korinna-Bold";
}

.form_input {
  width: 200px;
  height: 40px;
  border-radius: 15px;
  border: none;
  font-size: 18px;
  padding: 0 10px;
  margin: 10px 0;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.input_invisible{
  display: none;
}


/*
* NavBar
*/

.container_navbar {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  z-index: 999999;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.navbar > a > img {
  height: 60px;
}

.user_button {
  height: 50px;
  color: #fff;
}



/*
* Connexion
*/

.container_connexion{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_connexion{
  display: flex;
flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: #ffffff50;
  color: #07354d;
  border-radius: 15px;
  padding: 50px;
}

.modal_connexion > h2 {
  font-size: 30px;
  margin: 15px 0;
}

.form_connexion{
  height: 100%;
  align-items: center;
  margin:25px 0 ;
}

.input_connexion{
  border: 2px solid #07354d;
  color: #07354d;
}

.button_connexion {
  width: 150px;
  height: 50px;
  font-size: 18px;
  margin: 15px 0;

}


/*
* Home
*/

.container_home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: #fff;
  position: relative;
}

.filter_bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000030;
}

.home_text {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;
}

.home_text > h1 {
  font-size: 72px;
}

.home_modal {
  width: 60%;
  background-color: #ffffff50;
  font-size: 36px;
  text-align: center;
  color: #07354d;
  border-radius: 15px;
  padding: 25px;
}

.button_blue {
  background-color: #07354d;
}

.button_blue:hover {
  background-color: #fff;
  color: #07354d;
  transition: all 300ms ease-out;
}

/*
* Form character
*/

.bg_character {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_form {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_block_form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px 0;
}

.cadre_character {
  width: 150px;
  height: 220px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.block_form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin: 0px 50px;
}

.block_form > label {
  width: 100%;  
}

.input_character {
  background-color: #ffffff50;
}

.form_textarea {
  height: 150px;
  padding: 10px;
}

.form_textarea_col{
  height: 390px;
  padding: 10px;
}

.red_button {
  background-color: #731c1b;
  margin: 20px;
  box-shadow: 2px 3px 7px black;
}

.red_button:hover {
  background-color: #fff;
  color: #731c1b;
  transition: all 300ms ease-out;
}
