@import './assets/CSS/navbar.css';
@import './assets/CSS/home.css';
@import './assets/CSS/connexion.css';
@import './assets/CSS/compte.css';
@import './assets/CSS/character.css';

@font-face {
  font-family: 'dungeon';
  src: local('dungeon'), url(./fonts/dungeon.ttf) format('truetype');
}

@font-face {
  font-family: 'Korinna-Bold';
  src: local('Korinna-Bold'), url(./fonts/Korinna-Bold.otf) format('opentype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  font-family: 'Korinna-Bold';
}